/*/*panchamiRavi
17/12/2021*/
/*/**{
	padding:0;
	margin:0;
}
/*body{
overflow:scroll;
}*/
/*.divfirst{
background-color:#333;
text-align:center;
color:#fff;
height:350px;
font-size:20px;
}
h1{
text-align:center;
color:#fff;
padding:30px;
}

a:hover{
	background-color:#00f;
	color:#fff;
	padding:25px;
	border-style:solid;
	border-color:#0d6dfd;
}
a{
	color:#00f;
	height: 20px;
	padding: 20px;
	border:solid;
	border:1px solid #0d6dfd;
	border-radius:10px;
	padding: 25;
	font-size:22px;
	text-decoration:none;
}
.divfirst p{
	padding-bottom:80px;
}
.divsecond{
text-align:center;
color:#000;	
height:350px;
}
.heading{
	text-align:center;
	padding:30px;
	color:#000;
}
p{
text-align:center;	
padding:10px;
font-size:20px;
text-align:justify;
}
.divrow{
	background-color:#333;
	padding:30px;
	display:flex;
	text-align:center;
}
.divcol{
	width:30%;
	margin:50px;
	padding:20px;
    background-color:#fff;
    border-radius:5px;
}
.divcol img{
	border-radius: 20px;
	width: 300px;

}
.divthird{
text-align:center;
color:#000;	
height:350px;
width: 100%;
}
.h1{
text-align:center;
color:#000;
padding:30px;
}
.divfourth{
	margin: 0;
	padding: 0;
	display:flex;
	width: 100%;
}
.footer1{
	background-color:#0d6dfd;
	padding:50px;
	color:#000;
	font-size:20px;
	padding-left:50px;
    padding-right:50px; 
    height:50%;
}
.footer2{
	background-color:#000;
	padding:50px;
	color:#fff;
	font-size:20px;
	padding-left:50px;
    padding-right:50px; 
    height:50%;
}
.h2{
	color:#000;
}

/*media screen*/
/*@media only screen and (max-width:576px) {

.divfourth{
	display:block;
	padding: 0;
	width: auto;
}
.divthird{
font-size:20px;
color:#000;	
height:380px;
padding:20px;
}
.h1{
text-align:center;
color:#000;
padding:30px;
}
.divrow{
	background-color:#333;
	padding:30px;
	display:block;
	text-align:center;
	border:solid;
}
.divcol{
	width:50%;
	margin:auto;
	padding:20px;
	padding-right:20px;
	padding-left:20px;
    background-color:#fff;
    border-radius:30px;
}
.divcol img{
	border-radius:20px;
	width: 90%;
}
p{
text-align:center;	
padding:10px;
font-size:15px;
text-align:justify;
}
.divsecond{
text-align:center;
color:#000;	
height:40vh;
}
.divfirst{
background-color:#333;
text-align:center;
color:#fff;
height:380px;
font-size:20px;
}
a{
	color:#00f;
	height: 10px;
	padding: 20px;
	border:solid;
	border:1px solid #0d6dfd;
	border-radius:10px;
	padding: 25px;
	font-size:22px;
	text-decoration:none;
}
h1{
text-align:center;
color:#fff;
padding:30px;
font-size:20px;
}
.footer1{
	background-color:#0d6dfd;
	padding:50px;
	color:#000;
	font-size:20px;
	padding-left:20px;
    padding-right:20px; 
    height:auto;
}
.footer2{
	background-color:#000;
	padding:50px;
	color:#fff;
	font-size:20px;
	padding-left:20px;
    padding-right:20px; 
    height:auto;
}
				}


	*/
*{
	margin:0;
	padding: 0;
}
.divfirst{
	background-color: #333;
	padding: 10px;
	text-align: center;
	height: 50vh;
	color: #fff;
}
.divfirst h1{
	padding-top:50px; 
	font-size: 40px;
}
.divfirst p{
	font-size: 20px;
	padding-top: 15px;
	margin: 20px;
	padding-bottom: 30px;
	
}
.divfirst a{
	color: #00f;
	border:3px solid #00f;
	padding: 20px;
	text-decoration: none;
}
.divfirst a:hover{
	color:#fff;
	background-color: #00f
}
.divsecond{
	text-align: center;
	height: 40vh;	
}
.divsecond h1{
	padding-top: 50px;
	font-size: 40px;
}
.divsecond p{
	font-size: 20px;
	padding:25px;
}
.divrow{
	display: inline-flex;
	background-color: #333;
	/*margin: auto;*/
	height: 50vh;

}
.divrow .divcol{
	position: relative;
	/*width:30px;*/
	height: 70%;
	text-align: center;
	border:solid;
	background-color: #fff;
	margin:15px;
	margin-top: 40px;
	border-radius: 10px;
}
.divcol img{
	margin: auto;
	width:85%;
	height: 60%;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	border:solid;
}
.divfourth{
	display: inline-flex;
	height: 50vh;
}
.divfourth .footer1{
	width:50%;
	background-color: #0d6dfd;
	text-align: center;
	padding-top:50px;

}
.divfourth .footer2{
	width:50%;
	background-color: #333;
	text-align: center;
	padding-top: 48px;
}
.footer1 h1{
	font-size: 35px;
}
.footer2 h1{
	color:white;
}
.footer1 p{
	padding:20px;
	font-size: 20px;

}

.footer2 p{
	padding:20px;
	font-size: 20px;
	color: #fff
}
@media only screen and (max-width:576px) {
*{
	margin: 0;
	padding:0;
}
.divfirst{
	background-color: #333;
	padding: 10px;
	text-align: center;
	height: 72vh;
	color: #fff;
}
.divfirst h1{
	padding-top:30px; 
	font-size: 30px;
}
.divfirst p{
	font-size: 20px;
	padding-top: 15px;
	margin: 20px;
	padding-bottom: 30px;
	
}

.divsecond{
	text-align: center;
	height: 40vh;	
}
.divsecond h1{
	padding-top: 25px;
	font-size: 28px;
}
.divsecond p{
	font-size: 20px;
	padding:15px;
}
.divrow{
	display: block;
	background-color: #333;
	height: auto;
	padding-top: 10px;
	padding-bottom: 20px;

}
.divrow .divcol{
	position: relative;
	/*width:30px;*/
	height: 350px;
	text-align: center;
	border:solid;
	background-color: #fff;
	margin:15px;
	margin-top: 20px;
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
.divcol img{
	margin: auto;
	width:90%;
	height: 60%;
	margin-top: 10px;
	margin-bottom: 5px;
	border-radius: 10px;
}.divfourth{
	display: block;
	height: 40vh;
}
.divfourth .footer1{
	width:100%;
	background-color: #0d6dfd;
	text-align: center;
	padding-top:30px;

}
.divfourth .footer2{
	width:100%;
	background-color: #333;
	text-align: center;
	padding-top: 30px;
}
.footer1 h1{
	font-size: 30px;
}
.footer2 h1{
	color:white;
}
.footer1 p{
	padding:20px;
	font-size: 20px;

}

.footer2 p{
	padding:20px;
	font-size: 20px;
	color: #fff
}